#About{
    padding: 100px 0;
    display: flex;
    align-items: center;
    /* background: url("./Cessation.svg") no-repeat center; */
}
.col{
    background: rgb(170, 170, 224);
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.line-1{
    height: 15px;
    width: 15px;
    background: rgb(223, 108, 108);
    display: inline-block;
}
.line-2{
    height: 1px;
    width: 80px;
    background: rgb(223, 108, 108);
    display: inline-block;
}
.line-3{
    height: 1px;
    width: 60px;
    background: rgb(223, 108, 108);
    display: inline-block;
}
.line{
    line-height: 8px;
}   
body {
    background-color: #000
}

.card {
    width: 350px;
    background-color: #efefef;
    /* border: none; */
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s;
  
   
}
.red{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.card:hover .image img {
    transform: scale(1.5)
}

/* .btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
} */

body{
    background:#DCDCDC;
    /* margin-top:20px; */
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}
.thumb-lg {
    height: 96px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 98px;
    height: 96px;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}