body {
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.rank-body {
    width: 100vw;
    height: 100vh;
    background: url("images/rank.svg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    overflow: overlay;
    align-items: center;
    /* padding: 10px; */
}

.rank-body h2 {
    text-align: center;
    color: white;
    margin-top: 80px;
}
.species-list {
    width: 95%;
    /* background: white; */
    margin: 0 auto;
    padding-top: 20px;

}







