.size {
    height: 100vh;
}

.carousel-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    /* left: 50%; */
}

p .react-typewriter-text{
    font-size: 20px;
    text-align: center;
}