
#hello{
    background: rgb(202, 202, 240);
}
#he{
    background: url( https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1xXV5bAmu0mDQcXdXbzlxuFKgpNSZXN4WJg&usqp=CAU)    ;
}
.navbar {
    background-color: #00000091;
    color: white;
    backdrop-filter: blur(10px);
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, rgba(120, 255, 214, 0.7), rgba(168, 255, 120, 0.7)); */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, rgba(120, 255, 214, 0.4), rgba(168, 255, 120, 0.4)); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1200;

}







